[package]
name = "utils"
version = "0.1.0"
edition = "2024"

[dependencies]
rand = { version = "0.9.2", default-features = true, features = ["os_rng"] }
ed25519-dalek = { version = "2.2.0", default-features = false, features = [] }